$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default; //light-grey
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default; //dark-grey
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$danger-color: #eb5757 !default;
$success-color: #27ae60 !default; //green colors
$info-color: #2f80ed !default;
$warn-color: #f2994a !default;
$active-sort: #ae2638;

//Color social
$facebook: #3b5998;
$twitter: #00aced;
$google-plus: #dd4b39;
$instagram: #517fa4;
$pinterest: #cb2027;
$whatsapp: #4dc247;
