.page-wrapper {
    max-width: $container-width;
    margin: 0 auto;
    padding: $layout-padding;
    width: 100%;
    position: relative;
  }
  // common helper
  .xl-font {
    font-size: $extra-large;
    font-weight: $heavy;
  }
  .lg-font {
    font-size: $large;
    font-weight: $bold;
  }
  .md-font {
    font-size: $regular;
    font-weight: $bold;
  }
  .sm-font {
    font-size: $small;
    font-weight: $regular;
  }
  .xs-font {
    font-size: $smaller;
    font-weight: $regular;
  }
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .font-weight {
    &-normal {
      font-weight: $regular !important;
    }
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .show-flex {
    display: flex !important;
  }
  .npt {
    padding-top: 0 !important;
  }
  .npb {
    padding-bottom: 0 !important;
  }
  .np {
    padding: 0 !important;
  }
  .pt {
    padding-top: $base-margin !important;
  }
  .nm {
    margin: 0 !important;
  }
  .nmb {
    margin-bottom: 0 !important;
  }
  .nml {
    margin-left: 0 !important;
  }
  .nmr {
    margin-right: 0 !important;
  }
  .nbr {
    border-right: none !important;
  }
  .mt {
    margin-top: $base-margin !important;
  }
  .mb {
    margin-bottom: $base-margin !important;
  }
  .base-margin {
    margin-bottom: $base-margin !important;
  }
  .inline-block {
    display: inline-block !important;
  }
  .block {
    display: block !important;
  }
  .mob-only {
    display: block !important;
  
    @include breakpoint-mobile-first($tablet) {
      display: none !important;
    }
  }
  .no-bg {
    background: none;
    border: none;
    outline: none;
  }
  // z-index
  .max-z {
    z-index: $max-z-index + 12 !important;
  }
  // base colors
  .shade-color-1 {
    color: $gray-shade-1 !important;
  }
  .shade-color-1-5 {
    color: $gray-shade-1-5 !important;
  }
  .shade-color-2 {
    color: $gray-shade-2 !important;
  }
  .shade-color-3 {
    color: $gray-shade-3 !important;
  }
  .shade-color-4 {
    color: $gray-shade-4 !important;
  }
  .shade-color-5 {
    color: $gray-shade-5 !important;
  }
  .warn {
    &-color {
      color: $warning-color;
    }
    &-bg {
      background: $warning-color;
    }
  }
  .success {
    &-color {
      color: $success-color;
    }
    &-bg {
      background: $success-color;
    }
  }
  .info {
    &-color {
      color: $info-color;
    }
    &-bg {
      background: $info-color;
    }
  }
  .error {
    &-color {
      color: $error-color;
    }
    &-bg {
      background: $error-color;
    }
  }
  .brd {
    &-top {
      border-top: $base-border-color solid 1px;
    }
  }
  .justify-sb {
    justify-content: space-between;
  }
  .capitalize {
    text-transform: capitalize;
  }
  .divider {
    margin: 34px 0 24px 0;
    border-top: solid 1px $gray-shade-5;
    text-align: center;
    height: 14px;
    &__text {
      text-transform: uppercase;
      background: $white;
      font-size: $small;
      color: $gray-shade-4;
      position: relative;
      top: -10px;
      display: inline-block;
      padding: 0 5px;
    }
  }
  //flex
  .flex {
    display: flex;
    justify-content: space-between;
  
    &.flex-align-middle {
      align-items: center;
    }
  
    &.flex-start {
      justify-content: flex-start;
    }
  
    &.flex-end {
      justify-content: flex-end;
    }
  }
  .full-width {
    width: 100%;
  }
  .wl-reverse-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  
  // spacing
  .horizontal-items-space {
    margin-right: 5px;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  .fixed-header-margin-top {
    margin-top: $header-height;
    &.wl-mobile-filter-on {
      margin-top: $header-height + 60px;
    }
    @include breakpoint-mobile-first($lg-device) {
      margin-top: $header-height;
      &.wl-mobile-filter-on {
        margin-top: $header-height + 32px;
      }
    }
  }
  .visible-only-sm {
    display: block !important;
    @include breakpoint-mobile-first($md-device) {
      display: none !important;
    }
    &-flex {
      display: flex !important;
      @include breakpoint-mobile-first($lg-device) {
        display: none !important;
      }
    }
  }
  .visible-only-md {
    display: none !important;
    @include breakpoint-mobile-first($lg-device) {
      display: block !important;
    }
    &-flex {
      display: none !important;
      @include breakpoint-mobile-first($lg-device) {
        display: flex !important;
      }
    }
  }
  .ellipsis {
    white-space: nowrap; /* 1 */
    text-overflow: ellipsis; /* 2 */
    overflow: hidden;
  }
  