// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/
$font-asap-url: 'https://fonts.googleapis.com/css?family=Asap:400,500,600,700,&display=swap';

$gray: #999;
$black: #1f1f1f;
$black-lighter: #252525;
$dark: #2c2c2c;
$white: #fff;
$blue: #5b759e;
$yellow: #e6af2b;
$orange: #ffb055;
$light-gray: #f5f5f5;
$dusty-gray: #b8b8b8;
$scorpion-approx: #595959;
$emperor: #555;
$jungle-green: #24baa0;
$gainsboro: #dcdcdc;
$red: #ff5c5c;

$base-font-default: 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-sans-serif: 'Asap', $base-font-default;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-font: $base-font-sans-serif;

// Body
$base-background-color: $white !default;
$base-background-body: $white !default;
$base-background-footer: $dark !default;
$footer-text-color: $white;
$font-size-base: 14px !default;
$font-size-base-small: 12px !default;
$line-height-base: 20px !default;
$base-font-family: $base-font !default;
$base-min-width: 320px;

$max-width-center-container: 1120px;
$padding-container: 0 15px;

// default margins
$vertical-rhythm: $font-size-base + 4;
$widget-margin: 20px;

// Liks
$base-link-color: $blue;
$base-link-hover-color: $black;
$text-decoration: none;
$text-decoration-hover: none;

$headings-font-family: $base-font-family;
$headings-color: inherit !default;

// Buttons
$btn-color: #f4f4f4 !default;
$btn-background: $gray !default;
$btn-border: 1px solid $jungle-green;
$btn-padding: 12px !default;
$btn-font-size: $font-size-base - 2 !default;
$btn-line-height: $font-size-base + 2;
// hover
$btn-hover-background: $jungle-green !default;
$btn-hover-color: $white !default;

// Forms
$input-font-size: $btn-font-size; // font size for forms elements
$input-line-height: $btn-line-height; // line height for forms elements
$input-padding: 10px 22px !default; // padding for forms elements
$input-border: 1px solid #f3f3f3 !default; // border for forms elements
$input-border-radius: 0 !default; // border radius for forms elements
$input-height: 40px; // height for forms elements
//submit
$submit-background: $jungle-green;
$submit-color: $btn-color;
$submit-height: $input-height;
$submit-border: $jungle-green;
$submit-padding: $input-padding;
$submit-font-size: $input-font-size;
$submit-line-height: $input-line-height;
// submit hover
$submit-hover-background: $jungle-green; // submit background hover
$submit-hover-color: $btn-hover-color; // submit color hover
//focus
$input-focus-border-color: $input-border !default; // border color for forms elements
//placeholder
$placeholder-color: $gray !default;

// nav
$nav-color: $black;
$mobile-nav-drop-bg: $black;
$mobile-nav-drop-color: $white;

$animation-speed: 0.3s;

//image placeholder
$placeholder-color: $gray !default;
$placeholder-color-new: #e3e7f2 !default;

/************************************************************/
/*                 WHITE LABLE STYLE SETTINGS               */
/************************************************************/

/* Spacing config */
$header-margin: 16px;
$header-float-margin: 60px; // desktop 80px;
$container-padding: 15px;
$card-padding: 18px;
$section-padding: 24px; // desktop 40px;
$paragraph-margin: 20px;
$form-field-space: 20px;

/* Typography */
$base-font-size: 14px;
$base-font-family: 'Asap', $base-font-default;
$h1-font-size: 20px; // desktop 26px;
$h2-font-size: 18px; // desktop 22px;
$h3-font-size: 16px; // desktop 20px;
$h4-font-size: 15px; // desktop 18px;
$h5-font-size: 13px; // desktop 16px;
$h6-font-size: 12px; // desktop 14px;
$large-font-size: $base-font-size + 2px; // desktop 16px;
$small-font-size: $base-font-size - 2px; // desktop 12px;
$price-font-size: 24px; // desktop 24px;
$hero-font-size: 42px;

/* Color */
$base-text-color: lighten($black, 20%) !default;
$base-grey: lighten($black, 60%);
$base-border-color: lighten($black, 75%);
$base-shadow-color: lighten($black, 60%);
$base-border-radius: 5px;
$primary-color: $jungle-green;
$primary-btn-color: $white;
$grey-text-color: lighten($black, 60%);
$warn-color: lighten(#ffb055, 28%);
$highlight-color: rgba($primary-color, 0.1);

/* Device config breakpoints */
$container-breakpoint: 1170px;
$lg-dv: 992px;
$md-dv: 768px;
$sm-dv: 576px;
