.button {
  padding: $btn-padding;
  color: $white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  min-width: 88px;
  outline: none;
  border: none;
  margin: 0;
  position: relative;
  text-transform: uppercase;

  /* Disabled */
  &:disabled,
  &--disabled {
    box-shadow: none;
    opacity: 0.3;
    cursor: not-allowed;
  }
  &--lg {
    padding: $btn-padding-lg;
    font-size: $btn-size-lg;
  }
  &--sm {
    padding: $btn-padding-sm;
    font-size: $btn-size-sm;
  }
  &--xs {
    padding: $btn-padding-xs;
    font-size: $btn-size-xs;
  }
  &--bordered {
    background: none;
    font-weight: $font-weight-bold;
    &:hover {
      border-radius: $border-radius-normal;
    }
  }

  &.btn--with-icon {
    padding: 0 10px 0 16px;
    font-family: $font-main, Arial, Helvetica, sans-serif;
    font-size: $btn-size;
    border: 1px solid;
    background: transparent;
    transition: $transition-base;
    &:hover {
      border-radius: 0;
      .btn-icon {
        border: 1px solid;
        background: #fff;
      }
    }
    // &:focus,
    // &:active {
    //   background-color: #fff;
    //   color: #b62234;
    // }
    .btn--text {
      position: relative;
      top: 2px;
    }

    i {
      position: relative;
      top: -1px;
      bottom: 0;
      right: -11px;
      padding: 8px 8px 8px 8px;
      margin-bottom: -2px;
      display: inline-block;
      border: 1px solid;
      height: 40px;
      width: 40px;
      background: #fff;
    }
  }
  &--with-border-radius {
    border-radius: $border-radius-normal;
    &:hover {
      border-radius: $border-radius-normal;
    }
  }
  &--with-div-icon {
    line-height: 2.5;
    padding: 0;
    &__div-text {
      display: inline-block;
      padding: 10px 15px;
      font-size: $btn-size;
    }
    &__div-icon {
      display: inline-block;
      vertical-align: middle;
      margin: 3px 15px;
    }
  }
  &--full {
    width: 100%;
  }
}

.btn-effect {
  position: relative;
  overflow: hidden;
  transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  &::after {
    background: #fff;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.3;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 40px;
    z-index: 0;

    // Extra size
    @media (min-width: 800px) and (max-width: 991px) {
      left: -92px;
      height: 219px;
    }
  }
  &::before {
    content: '';
    background-color: aliceblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(0.001, 0.001);
    transform: scale(0.001, 0.001);
  }
  &:hover {
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    &::after {
      left: 120%;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

      @media (min-width: 800px) and (max-width: 991px) {
        left: 150%;
      }
    }
  }
  &:focus {
    &::before {
      animation: effect_dylan 0.8s ease-out;
    }
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
