// .mob-dialog-footer {
//   background: $white;
//   box-shadow: $default-shadow-settings;
//   bottom: 0;
//   left: 0;
//   font-size: 16px;
//   max-height: 53px;
//   padding: 5px;
//   position: fixed;
//   width: 100%;
//   z-index: 998;

//   .button {
//     margin-left: 5px;
//     margin-right: 5px;
//   }

//   @include respond-to($large-up) {
//     display: none;
//   }
// }

// .show-on-desktop {
//   display: none !important;
//   @include respond-to($large-up) {
//     display: inline-block !important;
//   }
// }
// .show-on-small {
//   display: block !important;
//   @include respond-to($large-up) {
//     display: none !important;
//   }
// }

.mob-dialog-bottom-space {
  padding-bottom: 52px;

  @include respond-to($large-up) {
    padding-bottom: 0;
  }
}

.mob-sticky-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: $color-secondary;
  box-shadow: 1px 2px 14px $shadow-color;
  left: 0;
  bottom: 0;
  font-size: 12px;
  max-height: 46px;
  position: fixed;

  @include full-width;

  z-index: 998;
  text-align: center;

  .menu {
    color: $white;
    padding: 15px;
    text-align: center;
    width: 100%;
    & .two {
      width: 50%;
    }
  }

  @include respond-to($medium-up) {
    display: none;
  }
}

.top {
  bottom: unset;
  top: 0;
}

.relative {
  position: relative;
  z-index: unset;
}
