.trust-you {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  &__bubble {
    position: relative;
    margin-right: 5px;
    font-weight: $bold;
    color: $success-green-300;

    &__group {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 24px;
      background: $success-green-300;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        margin-top: 14px;
        width: 0;
        height: 0;
        border-top: 8px solid $success-green-300;
        border-left: 8px solid transparent;
      }

      &__number {
        color: $white;
        position: absolute;
        padding: 0;
        margin: 0;
        font-style: normal;
        font-size: 11px;
      }
    }
  }

  &__review-group {
    &__desc {
      color: $success-green-300;
      font-weight: $bold;
    }

    &__count {
      color: $base-system-light-grey;
      font-weight: $regular;
    }
  }

  @include respond-to($large-up) {
    &__bubble {
      &__group {
        width: 30px;
        height: 28px;

        &::after {
          margin-top: 16px;
          border-top: 12px solid #81c784;
          border-left: 12px solid transparent;
        }
        &__number {
          font-size: 13px;
        }
      }
    }
  }
}
