.card {
    margin-bottom: 15px;
  
    &__header {
      padding: 15px;
      border-bottom: $default-border-settings;
      box-sizing: border-box;
    }
  
    &__body {
      padding: 15px;
      box-sizing: border-box;
      max-width: 12000px;
  
      &--adjust-lr-space {
        padding-left: 15px;
        padding-right: 15px;
      }
  
      &--small-padding {
        padding: 10px !important;
      }
    }
  
    &__footer {
      padding: 15px;
      border-top: $default-border-settings;
      box-sizing: border-box;
      &--with-bg {
        background-color: $white;
        color: $white;
      }
    }
  
    &--space-lr {
      //lr - left and right space using padding
      padding-left: 15px / 2;
      padding-right: 15px / 2;
    }
  
    &--with-border {
      border: $default-border-settings;
      border-radius: $base-large-radius;
    }
  
    &--with-tb-border {
      border-top: $default-border-settings;
      border-bottom: $default-border-settings;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
      &.sub {
        font-size: 80%;
        color: $gray-600;
        font-weight: $weight-regular;
      }
    }
  
    p:first-of-type,
    p:first-child {
      margin-top: 0;
    }
  
    @include respond-to($large-up) {
      border: $default-border-settings;
      border-radius: $base-large-radius;
      &__header,
      &__body,
      &__footer {
        padding: 15px;
      }
  
      &--space-lr {
        padding-left: 15px + 10px;
        padding-right: 15px + 10px;
      }
    }
  }
  
  .card-2 {
    border-top: $default-border-settings;
    p:last-of-type,
    p:last-child {
      margin-bottom: 0;
    }
  
    @include respond-to($large-up) {
      padding: 15px 15px;
      border-top: none;
      &__body {
        border-bottom: $default-border-settings;
      }
    }
  }
  
  .card-divider {
    padding: 15px;
    background-color: $gray-600;
    margin: 0;
  
    @include respond-to($large-up) {
      padding: 15px 0;
      background-color: unset;
    }
  }
  