//Base typo

$font-lato-url: 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
$font-lato:'Lato';
$base-ico-fonts:'icon-fonts';
$icon-unicode: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$base-fonts: $font-lato, Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-background: $white;

$text-primary:#333;
$text-grey-accent: lighten(black, 60%) !default;
$text-light: #6c757d;
$border-primary:#00aaac;

$background-header: #485361;

$color-primary:#007ebb;
$color-primary-hover:#007ebb;
$color-secondary:#b62234;
$color-secondary-hover:#ed5757;
$color-third:#27ae60;
$color-third-hover:#27ae60;
$color-four:#da8a1d;
$color-four-hover:#da8a1d;
$link-color: #4583c4;
$link-color-hover: #4583c4;

//trust you colors
$ty-excellent: #27ae60;
$ty-very-good: #4aae27;
$ty-good: #a2c569;
$ty-fair: #f2c94c;
$ty-poor: #8b97a8;

//Border shadow
$border-color:#e5e5e5;
$shadow-color:rgba(0, 0, 0, 0.2);

//Radius
$base-radius:4px;
$base-large-radius:8px;

//font-size
$smaller-text: 10px;
$small-text: 12px;
$regular-text: 14px;
$large-text: 16px;
$exlarge-text: 20px;
$heavy-text: 24px;

//font-weight
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

//buttons
$btn-padding: 8px 14px;
$btn-padding-lg: 8px 20px;
$btn-size: 1rem;
$btn-size-lg: 1.1rem;
$btn-border:1px;
$btn-border-lg:2px;
$btn-radius:4px;
$btn-radius-lg:6px;
$btn-background-primary:$color-primary;
$btn-color-primary:$white;
$btn-color-primary-hover:$color-primary;
$btn-background-primary-hover:$white;
$btn-border-color-primary:$color-primary;
$btn-border-color-primary-hover:$color-primary;

$btn-background-secondary:$color-secondary;
$btn-color-secondary:$white;
$btn-background-secondary-hover:$white;
$btn-color-secondary-hover:$color-secondary;
$btn-border-color-secondary:$color-primary;
$btn-border-color-secondary-hover:$color-primary;
$btn-radius-lg:6px;
$btn-background-primary:$color-primary;
$btn-color-primary:$white;
$btn-color-primary-hover:$color-primary;
$btn-background-primary-hover:$white;
$btn-border-color-primary:$color-primary;
$btn-border-color-primary-hover:$color-primary;

$btn-background-secondary:$color-secondary;
$btn-color-secondary:$white;
$btn-background-secondary-hover:$white;
$btn-color-secondary-hover:$color-secondary;
$btn-border-color-secondary:$color-primary;
$btn-border-color-secondary-hover:$color-primary;

$grid-padding: 0.5rem;

//Color Alert
$alert-danger:#eb5757;
$alert-size:12px;
$alert-padding:5px 10px;
$alert-radius:2px;

$default-border-settings: $gray-200 solid 1px;
$default-shadow-settings: 1px 2px 2px $shadow-color;

$star-rating-color: #f2bb4c;
$star-rating-size: 24px;

//form settings
$form-field_bg: lighten($black, 98%);
$form-field_brd: darken($border-color, 10%) solid 1px;
$form-field_padding: 10px 15px;
$form-min_height: 39px;
$form-label-color: lighten($black, 40%);
$form-pre-pend-color:  lighten($black, 85%);

// Padding/margin for the layout
$small-space: 4px;
$regular-space: 8px;
$large-space: 16px;
$x-large-space: 24px;

// Transition
$transition: all 0.24s ease-in-out;
