// Component: _button.scss
.button {
  color: $color-primary-contrast;
  background: $color-primary;
  &--secondary {
    background: $color-secondary;
  }
  &--bordered {
    color: $color-primary;
    border: $color-primary solid 2px;
    &:hover {
      background: $color-primary;
      color: $color-primary-contrast;
    }
  }
}

// Component: _pill.scss
.pill {
  border: $color-primary solid 1px;
  color: $color-primary;
  &--active {
    background-color: $color-primary;
    color: $color-primary-contrast;
  }
}

// Component: _panel-mobile.scss
.header-nav {
  &__mobile {
    background-color: $color-background-header;
    color: $color-background-header-contrast;
  }
  &__modify {
    @include respond-to($medium-up) {
      background-color: $color-background-header !important;
      color: $color-background-header-contrast;
      // height: 122px !important;
    }
  }
}

.panel-mobile {
  &__title {
    background-color: $color-secondary;
  }
}

.panel-mobile__button.button--close {
  color: $color-primary;
}

// Component: _radio.scss
.radio-pure {
  input[type='radio'] {
    + label {
      &::before {
        border: 1px solid $color-primary;
      }
    }
    &:checked {
      + label {
        &::before {
          box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em $color-primary;
        }
      }
    }
  }
}

// Component: _mobile_util.scss
.mob-dialog-title {
  background: $color-primary;
  color: $color-primary-contrast;
}

.mob-sticky-menu {
  background: $color-primary;
  .menu {
    color: $color-primary-contrast;
  }
}

// Component: _nav.scss
.nav {
  &--selected {
    background-color: lighten($color-primary, 50%);
    color: $color-primary;
  }
  @include respond-to($large-up) {
    &--selected {
      border-bottom: $color-primary 3px $border-style;
    }
  }
}
