// Layouts variables
$max-width-container: 1200px !default; //max width for the container class
$min-width-container: 320px !default;
$layout-padding: 0 rem(16px) !default;
$grid-padding: 0.5rem !default;

$header-margin: 16px !default;
$header-float-margin: 60px !default; // desktop 80px;
$container-padding: 15px !default;
$card-padding: 18px !default;
$section-padding: 24px !default; // desktop 40px;
$paragraph-margin: 20px !default;
